body{
  background-color: rgb(209, 206, 206);
}
.home {
  margin-top: 10px;
  display: flex;
  flex-direction:row;
}
.asideCat {
  width: 15%;
  border-right: solid 1px;
}
.categorias {
  display: flex;
  flex-direction:column;
}
.telaBusca{
  padding-left: 1%;
  width: 85%;
}
.iconeCartShopping{
  position: absolute;
  right: 5%;
  text-decoration: none;
  color: black;
  border: solid 1px;
  padding: 2px;
}
.iconeCartShopping :hover{
  color: white;
  background-color: black;
}
.inputSearch{
  width: 30%;
}
.listagemDeProduto {
  display: flex;
  flex-wrap: wrap;
}
.cartHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: solid 1px;
  width: 200px;
  background-color: white;
}
.cartHome a {
  text-decoration: none;
  color: black;
}
.cartHome a img{
  margin-left: 50px;
  width: 100px;
  height: 100px;
}
.cartHome button{
  width: 80px;
}