body {
  background-color: rgb(209, 206, 206);
}

.home {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.asideCat {
  border-right: solid 1px;
  width: 15%;
}

.categorias {
  display: flex;
  flex-direction: column;
}

.telaBusca {
  padding-left: 1%;
  width: 85%;
}

.iconeCartShopping {
  border: solid 1px;
  color: black;
  padding: 2px;
  position: absolute;
  right: 5%;
  text-decoration: none;
}

.iconeCartShopping :hover {
  background-color: black;
  color: white;
}

.inputSearch {
  width: 30%;
}

.listagemDeProduto {
  display: flex;
  flex-wrap: wrap;
}

.cartHome {
  align-items: center;
  background-color: white;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  width: 200px;
}

.freteGratis {
  height: 40px;
  margin-left: 15px;
  position: absolute;
  width: 40px;
}

.freteGratisDetails {
  position: absolute;
  right: 10%;
  top: 50px;
  width: 250px;
}

.cartHome a {
  color: black;
  text-decoration: none;
}

.imgProduto {
  height: 100px;
  margin-left: 50px;
  width: 100px;
}

.cartHome button {
  width: 80px;
}
